# TODO: clean up this file

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.editorconfig
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

*.md
.git
.gitignore
plugins/
platforms/
resources/
src/

/.vscode

/docs
/hooks
/node_modules
/platforms
/plugins
/resources
/scripts
/typings
/www