<navbar></navbar>

<ion-content class="has-header" [ngClass]="{'dark-background': darkMode }">
  <ion-searchbar
    (ionInput)="onSearch()"
    (ionCancel)="onCancelSearch()"
  ></ion-searchbar>

  <quote-bg></quote-bg>

  <task-list
    [tasks]="resolutions" [reorderMode]="reorderMode"
    (toggle)="onToggle($event)" (edit)="onEdit($event)"
    (delete)="onDelete($event)" (reorder)="onReorder($event)"
    (select)="onSelect($event)"
  ></task-list>
</ion-content>

<footer title="Add a Resolution" (footerClick)="addResolution()"></footer>