<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{action + ' ' + type}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'dark-background': settings.darkMode}">
  <ion-list>
    <ion-item [color]="settings.darkMode ? 'dark' : ''">
      <ion-label floating [color]="settings.darkMode ? 'light' : ''">Name</ion-label>
      <ion-input type="text" [(ngModel)]="task.name"></ion-input>
    </ion-item>

    <ion-item [color]="settings.darkMode ? 'dark' : ''">
      <ion-label floating [color]="settings.darkMode ? 'light' : ''">Description</ion-label>
      <ion-textarea [(ngModel)]="task.description"></ion-textarea>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block 
      (click)="submit()" 
      [disabled]="!task.name.length">
      {{action + ' ' + type}}
    </button>
  </div>
</ion-content>
