<ion-header>
  <ion-navbar color="primary">
    <ion-title>Resolutions</ion-title>

    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="resolutions.length">
      <button ion-button (click)="toggleEditMode()">
        {{editMode ? 'Done' : 'Edit'}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'dark-background': settings.darkMode}">
  <div class="no-tasks-container" *ngIf="!resolutions.length">
    <div class="no-tasks-content" text-center>
      <p>You haven't added any Resolutions</p>
      <button ion-button (click)="addResolution()">Add a Resolution</button>
    </div>
  </div>

  <ion-list *ngIf="resolutions.length" [reorder]="editMode" (ionItemReorder)="reorderResolutions($event)">
    <button ion-item *ngFor="let resolution of resolutions" (click)="goToMilestones(resolution)">
      <ion-badge item-left>{{resolution.getIncompleteMilestones()}}</ion-badge>
      {{resolution.name}}
    </button>
  </ion-list>
</ion-content>

<ion-footer *ngIf="resolutions.length">
  <ion-toolbar color="primary">
    <button ion-button full clear color="light" (click)="addResolution()">Add a Resolution</button>
  </ion-toolbar>
</ion-footer>
