<ion-header>
  <ion-navbar color="primary">
    <ion-title>Resolutions</ion-title>

    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="resolutions.length">
      <button ion-button (click)="toggleEditMode()">
        {{editMode ? 'Done' : 'Edit'}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'dark-background': settings.darkMode}">
  <div class="no-tasks-container" *ngIf="!resolutions.length">
    <div class="no-tasks-content" text-center color="secondary">
      {{quote}}
    </div>
  </div>

  <ion-list *ngIf="resolutions.length" [reorder]="editMode" (ionItemReorder)="reorderResolutions($event)">
    <ion-item-sliding *ngFor="let resolution of resolutions; let i = index" #slidingItem>
      <button ion-item (click)="goToMilestones(resolution)">
        <ion-badge item-left *ngIf="!resolution.isComplete">
          {{resolution.getIncompleteMilestones()}}
        </ion-badge>
        <span [ngClass]="{'complete': resolution.isComplete}">{{resolution.name}}</span>
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="complete(resolution, slidingItem)">
          {{resolution.isComplete ? 'Not Done' : 'Done'}}
        </button>
        <button ion-button color="danger" (click)="delete(i, slidingItem)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <button ion-button full clear color="light" (click)="addResolution()">Add a Resolution</button>
  </ion-toolbar>
</ion-footer>
