// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
  overflow-y: auto; // hides scrollbar when there's nothing to scroll
  top: $toolbar-md-height; // keeps scroll bar from going underneath navbar
}

ion-menu {
  top: $toolbar-md-height;

  .scroll-content {
    top: 0;
  }
}

.dark-background {
  background-color: $dark;

  .list-md ion-item-sliding {
    background-color: $dark;

    .item-md {
      background-color: $dark;
      color: $light;
    }
  }
}

.no-tasks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2em;

  .dark-background & {
    color: $light;

    .no-tasks-content {
      color: #777;
    }
  }

  .no-tasks-content {
    max-width: 85%;
    color: #bbb;
  }
}
