<ion-menu [content]="content" [persistent]="true">
  <ion-content [ngClass]="{'dark-background': settings.darkMode }">
    <ion-list>
	    <ion-item>
			  <ion-label>Enable Dark Mode</ion-label>
				<ion-toggle (ionChange)="onToggleDarkMode($event)" [checked]="settings.darkMode"></ion-toggle>
			</ion-item>
	    <ion-item>
			  <ion-label>Clear App Data</ion-label>
				<button
          ion-button item-right color="danger"
          (click)="clear()"
        >
          Clear
        </button>
			</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>