<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{resolution.name}}</ion-title>

    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="resolution.milestones.length">
      <button ion-button (click)="toggleEditMode()">
        {{editMode ? 'Done' : 'Edit'}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'dark-background': settings.darkMode}">
  <div class="no-tasks-container" *ngIf="!resolution.milestones.length">
    <div class="no-tasks-content" text-center>
      {{quote}}
    </div>
  </div>

  <ion-list *ngIf="resolution.milestones.length">
    <ion-item [color]="settings.darkMode ? 'dark' : ''" text-wrap *ngIf="resolution.description">
      {{resolution.description}}
    </ion-item>

    <ion-item-group [reorder]="editMode" (ionItemReorder)="reorderMilestones($event)">
      <ion-item-sliding *ngFor="let milestone of resolution.milestones; let i = index" #slidingItem>
        <ion-item>
          <ion-label>
            {{milestone.name}}
            <p>{{milestone.description}}</p>
          </ion-label>
          <ion-checkbox [(ngModel)]="milestone.isComplete" (ionChange)="update()"></ion-checkbox>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button 
            color="secondary" 
            (click)="edit(milestone, slidingItem)"
            *ngIf="!milestone.isComplete">
            Edit
          </button>
          <button ion-button color="danger" (click)="delete(i, slidingItem)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <button ion-button full clear color="light" (click)="addMilestone()">Add a Milestone</button>
  </ion-toolbar>
</ion-footer>
